[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing_extensions = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-mock = "*"
pre-commit = "*"
pytest-cov = "*"
coveralls = "*"
sphinx_rtd_theme = "*"
mypy = "*"
black = "==19.10b0"
