[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "*"
pytest = "*"
mock = "*"
pytest-mock = "*"
pre-commit = "*"
pytest-cov = "*"
"pathlib2" = "*"
"scandir" = "*"
bumpversion = "*"
coveralls = "*"
sphinx_rtd_theme = "*"
mypy = "*"

[requires]
python_version = "3.5"
